* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

header {
  background-color: black;
  position: sticky;
  top: 0px;
  z-index: 2; }
  header .logoPrincipal {
    display: flex;
    justify-content: center;
    top: 5px; }
  header nav ul li:hover {
    background-color: #752403; }

.bienvenida {
  margin: 2rem;
  color: #f30000;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-size: 4rem;
  background: #406eed;
  background: -webkit-linear-gradient(to right, #406eed 0%, #e8933f 100%);
  background: -moz-linear-gradient(to right, #406eed 0%, #e8933f 100%);
  background: linear-gradient(to right, #406eed 0%, #e8933f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animacion */
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.imagen, .portada .imagen1, .portada .imagen2, .portada .imagen3 {
  margin: 1rem;
  transition: all 0.7s; }

.portada {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .portada .imagen1 {
    border: 3px white solid; }
    .portada .imagen1:hover {
      transform: scale(1.1, 1.5); }
  .portada .imagen2 {
    border: 5px yellow dotted; }
    .portada .imagen2:hover {
      transform: scale(1.2, 1.2); }
  .portada .imagen3 {
    border: 5px red solid; }
    .portada .imagen3:hover {
      transform: scale(1.1, 1.1); }

footer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #406eed;
  background: -webkit-linear-gradient(to right, #406eed 0%, #e8933f 100%);
  background: -moz-linear-gradient(to right, #406eed 0%, #e8933f 100%);
  background: linear-gradient(to right, #406eed 0%, #e8933f 100%); }

.pagIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header" "bienvenida" "portada" "footer"; }
  .pagIndex .header {
    grid-area: header; }
  .pagIndex .portada {
    grid-area: portada; }
  .pagIndex .bienvenida {
    grid-area: bienvenida; }
  .pagIndex .footer {
    grid-area: footer; }

.pagMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "comida" "footer"; }
  .pagMenu .header {
    grid-area: header; }
  .pagMenu .comida {
    grid-area: comida; }
  .pagMenu .footer {
    grid-area: footer; }

.pagSuc {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header header" "tiSuc tiSuc" "sucursales mapa" "footer footer"; }
  .pagSuc .header {
    grid-area: header; }
  .pagSuc .tiSuc {
    grid-area: tiSuc; }
  .pagSuc .sucursales {
    grid-area: sucursales; }
  .pagSuc .mapa {
    margin: 2rem;
    grid-area: mapa; }
  .pagSuc .footer {
    grid-area: footer; }

.pagSomos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header" "tiSomos" "objetivo" "descObjetivo" "mision" "descMision" "footer"; }
  .pagSomos .tiSomos {
    grid-area: tiSomos; }
  .pagSomos .objetivo {
    grid-area: objetivo; }
  .pagSomos .descObjetivo {
    grid-area: descObjetivo; }
  .pagSomos .mision {
    grid-area: mision; }
  .pagSomos .descMision {
    grid-area: descMision; }

@media screen and (max-width: 700px) {
  .pagIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "bienvenida" "portada" "footer"; }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "valentin" "imgValentin" "descValentin" "alone" "imgAlone" "descAlone" "familia" "imgFamilia" "descFamilia"; }
  .imgAlone {
    justify-self: center;
    align-self: center; }
  .imgValentin {
    justify-self: center;
    align-self: center; }
  .imgFamilia {
    justify-self: center;
    align-self: center; }
  .pagSuc {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header" "tiSuc" "sucursales" "mapa" "footer"; }
  .sucursales {
    justify-self: center; }
  .sucursales {
    justify-self: center; } }

h1 {
  color: yellow;
  font-size: 5rem;
  text-align: center;
  font-family: "Fredoka One", cursive; }

h2 {
  color: white;
  text-align: center;
  margin: 1rem;
  font-size: 2rem; }

h3 {
  display: block;
  margin: 0.5rem 2rem;
  text-align: center;
  color: #402508;
  font-size: 1.5rem; }

h4 {
  color: white;
  font-family: "Courier Prime", monospace;
  margin: 5rem 3rem;
  word-spacing: 2px;
  line-height: 1.5;
  font-size: 1.8rem;
  text-align: justify; }

.promoTitulo {
  font-family: "Fredoka One", cursive;
  font-weight: bold;
  font-size: 2rem;
  color: #ff0909;
  text-align: center; }

.subtexto {
  font-family: "Courier Prime", monospace;
  font-size: 1.5rem;
  color: white;
  text-align: center; }

.subtitulo {
  font-family: "Fredoka One", cursive;
  font-size: 1.8rem;
  color: yellow;
  text-align: center; }

.tituloFormulario {
  width: 40rem;
  margin: 1rem;
  padding: 1rem;
  color: white;
  font-family: "Courier Prime", monospace;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: start;
  background-color: grey; }

label {
  color: white; }

/* Nombre del formulario */
legend {
  color: white;
  font-size: 1.5rem;
  margin: 1rem; }

/* Texto de tabla de menu */
.comida {
  color: white;
  display: flex;
  justify-content: center; }

/* Promociones */
.promociones {
  margin-top: 3rem;
  overflow: auto;
  z-index: -1; }

td {
  color: white;
  font-family: "Courier Prime", monospace;
  font-size: 1.5rem; }

th {
  color: yellow;
  font-family: "Courier Prime", monospace;
  font-size: 2rem; }
