.bienvenida{
    margin: 2rem;
  color: rgb(243, 0, 0);
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-size: 4rem;
  background: #406eed;
  background: -webkit-linear-gradient(to right, #406eed 0%, #e8933f 100%);
  background: -moz-linear-gradient(to right, #406eed 0%, #e8933f 100%);
  background: linear-gradient(to right, #406eed 0%, #e8933f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animacion */
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  @keyframes aparecer {
    0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
  }
}
// Clase que se usará en Extend
.imagen{
  margin: 1rem;
  transition: all 0.7s;
}

// Clase que se usará para mixing con parámetro
@mixin complemento_imagen($pixel, $color_border, $tipo_border, $escala_x, $escala_y) {
  border: $pixel $color_border $tipo_border;
    &:hover{
        transform: scale($escala_x, $escala_y);
    }
}
.portada{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // Usando Extend
  .imagen1{
    @extend .imagen;
    @include complemento_imagen(3px, white, solid, 1.1, 1.5)
  }
  .imagen2{
    @extend .imagen;
    @include complemento_imagen(5px, yellow, dotted, 1.2, 1.2)
  }
  .imagen3{
    @extend .imagen;
    @include complemento_imagen(5px, red, solid, 1.1, 1.1)
    }
}